{% extends 'base_industria.html' %}

{% load crispy_forms_tags %}

{% block title %}
{% if request.path == '/industria/produto/create/' %}
Cadastrar produto
{% else %}
Editar produto
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1 class="text-center">
        {% if request.path == '/industria/produto/create/' %}
        Cadastro de produto
        {% else %}
        Atualização de produto
        {% endif %}
    </h1>
</div>

{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert" id="message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}

<a class="btn btn-outline-success my-3" href="{% url 'produto' %}" role="button">
    {% if request.path == '/industria/produto/create/' %}
    Voltar
    {% else %}
    Cancelar
    {% endif %}
</a>
<div class="card p-3">
    <form action="" method="post" id="produto-form" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="row">
            <!-- Botão "Ver Custo" oculto por padrão
            <div class="col-12 d-flex justify-content-center" style="display: none;">
                <a href="#" id="ver-custo-button" class="btn btn-primary w-100 mt-3" data-toggle="modal" data-target="#verCustoModal">Ver Custo</a>
            </div> -->

            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ produto_form.nome_produto|as_crispy_field }}
            </div>
            
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ produto_form.unidade_medida|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ produto_form.quantidade|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ produto_form.grupo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.subgrupo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.tipo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.marca|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.fabricante|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.estoque_minimo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.estoque_maximo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ produto_form.preco_produto|as_crispy_field }}
            </div>
        </div>
        <!-- Botão de salvar -->
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success w-100 mt-3">
                {% if request.path == '/industria/produto/create/' %}
                Salvar
                {% else %}
                Salvar
                {% endif %}
            </button>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="verCustoModal" tabindex="-1" aria-labelledby="verCustoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verCustoModalLabel">Custo do Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do modal aqui -->
                <h3>Receita</h3>
                <p id="nome_receita"></p>
                <p id="informacao_adicional"></p>
                <p id="rendimento"></p>
                <p id="custo_receita"></p>
                <p id="valor_por_produto"></p>

                <h3>Ingredientes</h3>
                <p id="materia_prima"></p>
                <p id="quantidade"></p>
                <p id="valor_total"></p>

                <h3>Embalagens</h3>
                <p id="embalagem"></p>
                <p id="nome_tipo_embalagem"></p>
                <p id="quantidade_embalagem"></p>
                <p id="valor_embalagem"></p>
                <p id="valor_total_embalagem"></p>
                
                <h3>Produção Funcionário</h3>
                <p id="funcionario"></p>
                <p id="quantidade_funcionario"></p>
                <p id="valor_total_funcionario"></p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Espera o documento ser completamente carregado
    document.addEventListener("DOMContentLoaded", function () {
        // Captura o elemento do campo "tipo"
        const tipoField = document.querySelector("#id_tipo");

        // Captura o botão "Ver Custo"
        const verCustoButton = document.getElementById("ver-custo-button");

        // Adiciona um evento de mudança ao campo "tipo"
        tipoField.addEventListener("change", function () {
            // Verifica se o valor selecionado é "ProdutoAcabado"
            if (this.value === "ProdutoAcabado") {
                // Se for, mostra o botão "Ver Custo"
                verCustoButton.style.display = "block";
            } else {
                // Caso contrário, oculta o botão "Ver Custo"
                verCustoButton.style.display = "none";
            }
        });


        // Adiciona um evento de clique ao botão "Ver Custo"
        verCustoButton.addEventListener("click", function () {

            var id_receita = $("#id_receita_do_produto").val().trim();

            if (id_receita == "") {
                alert("Selecione uma receita para ver o custo do produto.");
                return;
            } else {

                $.ajax({

                    url: '/industria/custo_receita/' + id_receita + '/',
                    type: 'GET',
                    success: function (data) {
                        var data_recebido = JSON.parse(data);


                        var receitasFiltradas = data_recebido.map(function (receita) {
                            return {
                                id: receita.pk,
                                nome: receita.fields.nome_receita,
                                custo: receita.fields.custo_receita,
                                rendimento: receita.fields.rendimento,
                                valorPorProduto: receita.fields.valor_por_produto,
                                informacoesAdicionais: receita.fields.informações_adicionais,

                            };
                        });

                        document.getElementById("nome_receita").innerHTML = "Nome da Receita: " + receitasFiltradas[0].nome;
                        document.getElementById("informacao_adicional").innerHTML = "Informações Adicionais: " + receitasFiltradas[0].informacoesAdicionais;
                        document.getElementById("rendimento").innerHTML = "Rendimento: " + receitasFiltradas[0].rendimento;
                        document.getElementById("custo_receita").innerHTML = "Custo da Receita: " + receitasFiltradas[0].custo;
                        document.getElementById("valor_por_produto").innerHTML = "Valor por Produto: " + receitasFiltradas[0].valorPorProduto;


                        $.ajax({

                            url: '/industria/ingrediente/' + id_receita + '/',
                            type: 'GET',
                            success: function (data2) {
                                var data_recebido2 = JSON.parse(data2);

                                console.log(data_recebido2)

                                var ingredientesFiltrados = data_recebido2.map(function (ingredientes) {
                                    return {
                                        id: ingredientes.pk,
                                        materiaPrima: ingredientes.fields.materia_prima,
                                        quantidade: ingredientes.fields.quantidade,
                                        valorTotal: ingredientes.fields.valor_total,
                                    };
                                });

                                document.getElementById("materia_prima").innerHTML = "Matéria Prima: " + ingredientesFiltrados[0].materiaPrima;
                                document.getElementById("quantidade").innerHTML = "Quantidade: " + ingredientesFiltrados[0].quantidade;
                                document.getElementById("valor_total").innerHTML = "Valor Total: " + ingredientesFiltrados[0].valorTotal;

                                $.ajax({

                                    url: '/industria/embalagem/' + id_receita + '/',
                                    type: 'GET',
                                    success: function (data3) {
                                        var data_recebido3 = JSON.parse(data3);
                                        

                                        var embalagensFiltradas = data_recebido3.map(function (embalagens) {
                                            return {
                                                id: embalagens.pk,
                                                embalagem: embalagens.fields.embalagem,
                                                nomeTipoEmbalagem: embalagens.fields.nome_tipo_embalagem,
                                                quantidadeEmbalagem: embalagens.fields.quantidade,
                                                valorEmbalagem: embalagens.fields.valor_embalagem,
                                                valorTotalEmbalagem: embalagens.fields.valor_total,
                                            };
                                        });

                                        document.getElementById("embalagem").innerHTML = "Embalagem: " + embalagensFiltradas[0].embalagem;
                                        document.getElementById("nome_tipo_embalagem").innerHTML = "Nome do Tipo de Embalagem: " + embalagensFiltradas[0].nomeTipoEmbalagem;
                                        document.getElementById("quantidade_embalagem").innerHTML = "Quantidade da Embalagem: " + embalagensFiltradas[0].quantidadeEmbalagem;
                                        document.getElementById("valor_embalagem").innerHTML = "Valor da Embalagem: " + embalagensFiltradas[0].valorEmbalagem;
                                        document.getElementById("valor_total_embalagem").innerHTML = "Valor Total da Embalagem: " + embalagensFiltradas[0].valorTotalEmbalagem;

                                        var myModal = new bootstrap.Modal(document.getElementById('verCustoModal'));
                                        myModal.show();
                                    },
                                    error: function (error) {
                                        console.log("amor1, ", error);
                                    }
                                });
                                


                            },
                            error: function (error) {
                                console.log("amor2, ", error);
                            }
                        });
                        //faça o mesmo para producao funcionario
                        $.ajax ({

                            url: '/industria/producao_funcionario/' + id_receita + '/',
                            type: 'GET',
                            success: function (data4) {
                                var data_recebido4 = JSON.parse(data4);

                                var producaoFuncionarioFiltrada = data_recebido4.map(function (producaoFuncionario) {
                                    return {
                                        id: producaoFuncionario.pk,
                                        funcionario: producaoFuncionario.fields.funcionario,
                                        quantidade: producaoFuncionario.fields.quantidade,
                                        valorTotal: producaoFuncionario.fields.valor_total,
                                    };
                                });

                                document.getElementById("funcionario").innerHTML = "Funcionário: " + producaoFuncionarioFiltrada[0].funcionario;
                                document.getElementById("quantidade_funcionario").innerHTML = "Quantidade: " + producaoFuncionarioFiltrada[0].quantidade;
                                document.getElementById("valor_total_funcionario").innerHTML = "Valor Total: " + producaoFuncionarioFiltrada[0].valorTotal;

                                var myModal = new bootstrap.Modal(document.getElementById('verCustoModal'));
                                myModal.show();
                            },
                            error: function (error) {
                                console.log("amor3, ", error);
                            }
                        });
                    },
                    error: function (error) {
                        console.log("amor3, ", error);
                    }
                });
            }
        });
    });
</script>
{% endblock %}