{% extends 'base_industria.html' %}

{% load crispy_forms_tags %}

{% block title %}
{% if request.path == '/industria/materia_prima/create/' %}
Cadastrar materia prima
{% else %}
Editar materia prima
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1 class="text-center">
        {% if request.path == '/industria/materia_prima/create/' %}
        Cadastro de materia prima
        {% else %}
        Atualização de materia prima
        {% endif %}
    </h1>
</div>

{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert" id="message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}

<a class="btn btn-outline-success my-3" href="{% url 'materia_prima' %}" role="button">
    {% if request.path == '/industria/materia_prima/create/' %}
    Voltar
    {% else %}
    Cancelar
    {% endif %}
</a>
<div class="card p-3">
    <form action="" method="post" id="materia_prima-form" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ materia_prima_form.nome_materia_prima|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ materia_prima_form.unidade_medida|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ materia_prima_form.grupo|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ materia_prima_form.marca|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {{ materia_prima_form.fabricante|as_crispy_field }}
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-success w-100 mt-3">
                    {% if request.path == '/industria/materia_prima/create/' %}
                    Salvar
                    {% else %}
                    Salvar alterações
                    {% endif %}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}