{% extends 'base_industria.html' %}

{% load crispy_forms_tags %}

{% block title %}
{% if request.path == '/industria/ordem_producao/create/' %}
Iniciar ordem de produção
{% else %}
Editar ordem de produção
{% endif %}
{% endblock %}

{% block content %}
<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1 class="text-center">
        {% if request.path == '/industria/ordem_producao/create/' %}
        Inicio de ordem de produção
        {% else %}
        Atualização de ordem de produção
        {% endif %}
    </h1>
</div>

{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show mt-3 mb-0" role="alert" id="message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}

<a class="btn btn-outline-success my-3" href="{% url 'ordem_producao' %}" role="button">
    {% if request.path == '/industria/ordem_producao/create/' %}
    Voltar
    {% else %}
    Cancelar
    {% endif %}
</a>

<form action="" method="post" id="ordem_producao-form" autocomplete="off" novalidate>
    {% csrf_token %}

    <div class="card p-3">
        <div class="row">
            <!-- {{ form|crispy }} -->
            <div class="col-sm-6 col-md-4 col-lg">
                {{ ordem_producao_form.funcionario_emitiu_ordem|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-4 col-lg">
                {{ ordem_producao_form.status|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg">
                {{ ordem_producao_form.data_producao|as_crispy_field }}
            </div>
        </div>
    </div>

    {{ ordem_producao_produto_form.management_form }}

    {% for form in ordem_producao_produto_form %}
    <hr class="border border-success border-3 opacity-75">
    <div class="inlineform card p-3 my-3">
        <div class="row">
            {{ form|crispy }}

        </div>
    </div>
    {% endfor %}

    <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-success w-100 mt-3" type="submit">
            {% if request.path == '/industria/ordem_producao/create/' %}
            Salvar
            {% else %}
            Salvar Alterações
            {% endif %}
        </button>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $('.inlineform').formset({
            prefix: '{{ ordem_producao_produto_form.prefix }}',
            addText: 'Adicionar nova Ordem de Produção',
            deleteText: 'Remover esta Ordem de Produção'
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleciona o campo de status e todos os campos de quantidade_real_produzida
        const statusField = document.querySelector('#id_ordem_producao_form-status');
        const quantidadeFields = document.querySelectorAll('[id^="id_ordem_producao_produto_form-"][id$="-quantidade_real_produzida"]');
        

        // Função para mostrar ou ocultar o campo de quantidade_real_produzida
        function toggleQuantidadeFields() {
            if (statusField.value !== 'Finalizado') {
                quantidadeFields.forEach(function (field) {
                    field.closest('.col-lg, .col-md, .col-sm').style.display = 'none'; // Oculta o campo
                });
            } else {
                quantidadeFields.forEach(function (field) {
                    field.closest('.col-lg, .col-md, .col-sm').style.display = ''; // Mostra o campo
                });
            }
        }

        // Monitora mudanças no campo de status
        statusField.addEventListener('change', toggleQuantidadeFields);

        // Chama a função ao carregar a página para configurar a exibição inicial
        toggleQuantidadeFields();
    });

    // fazendo na gambiarra, no futuro eu melhoro (acho)

    var selectElement = document.querySelector('#id_status');
    document.getElementById('div_id_ordemproducaoproduto_set-0-quantidade_real_produzida').style.display = 'none';
    document.getElementById('div_id_data_producao').style.display = 'none';


    selectElement.addEventListener('change', function() {
        if (selectElement.value == 'Finalizado') {
            document.getElementById('div_id_ordemproducaoproduto_set-0-quantidade_real_produzida').style.display = 'block';
            document.getElementById('div_id_data_producao').style.display = 'block';
        } else {
            document.getElementById('div_id_ordemproducaoproduto_set-0-quantidade_real_produzida').style.display = 'none';
            document.getElementById('div_id_data_producao').style.display = 'none';
        }
    });

    id_status

    
</script>
{% endblock %}