{% extends 'base_industria.html' %}

{% block title %}Visualizar Ordem de produção{% endblock %}

{% block content %}
<a class="btn btn-outline-success my-3" href="{% url 'ordem_producao' %}" role="button">Voltar</a>

<div class="card">
    <div class="card-header text-center">
        Ordem registrada em: {{ ordem_producao.created_at }}
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Detalhes da ordem de produção:</h5>
        <p class="card-text"><strong>Funcionário emissor da nota:</strong> {{ ordem_producao.funcionario_emitiu_ordem }}</p>
        <p class="card-text"><strong>Status:</strong> {{ ordem_producao.status }}</p>

        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Produtos</h5>
                    <div class="card-body">
                        {% for ordem in ordem_producao.ordem_producao_produtos_set.all %}
                        <p class="card-text"><strong>Receita {{ forloop.counter }}:</strong> {{ ordem.receita }}</p>
                        <p class="card-text"><strong>Quantidade:</strong> {{ ordem.quantidade_solicitada }}</p>
                        <p class="card-text"><strong>Quantidade Produzida:</strong> {{ ordem.quantidade_real_produzida }}</p>
                        <hr class="border border-success border-3 opacity-75">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if ordem_producao.status != 'Finalizado' %}
            <button id="finalizar" class="btn btn-success mt-3">Finalizar Ordem de Produção</button>
        {% endif %}
    </div>
    <div class="card-footer text-body-secondary text-end">
        Entrada: {{ ordem_producao.id }}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('#finalizar').click(function() {
            // Aqui você pode fazer uma requisição AJAX para finalizar a ordem de produção
            // e exibir os campos de quantidade_real_produzida para o usuário preencher.
        });
    });
</script>
{% endblock %}